<div class="new-reminder">
    <form ng-submit="vm.newReminder()">
        <div class="details">
            <span class="title-reminder"><label>Title:</label></span>
            <span ><input class="input-reminder" type="text" ng-model="vm.title" placeholder="Title" required/></span>
        </div>
        <div class="details">
            <span class="title-reminder"><label>Description:</label></span>
            <span><input  class="input-reminder" type="text" ng-model="vm.description" placeholder="Description" required/></span>
        </div>
        <div class="details">
            <span class="title-reminder"> <label>Due Date:</label></span>
            <span><input  class="input-reminder" type="date" ng-model="vm.duedate" placeholder="Date" required/></span>
        </div>
        <button class="btn" type="submit">Save</button>
    </form>
</div>