
    <div class="new-reminder">
        <form ng-submit="vm.newReminder()">
            <div class="form-group">
                <span class="title-reminder">
                    <label>Title:</label>
                </span>
                <span>
                    <input class="form-control text-style" type="text" ng-model="vm.reminder.title" placeholder="Title" required/>
                </span>
            </div>
            <div class="form-group">
                <span class="title-reminder">
                    <label>Description:</label>
                </span>
                <span>
                    <input class="form-control text-style" type="text" ng-model="vm.reminder.description" placeholder="Description" required/>
                </span>
            </div>
            <div class="form-group">
                <span class="title-reminder">
                    <label>Due Date:</label>
                </span>
                <span>
                    <input class="form-control text-style" type="date" ng-model="vm.reminder.duedate" placeholder="Date" required/>
                </span>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
