.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li+li:before {
    content: "|";
    padding-right: 0.3em;
}

.reminder-form {
    align-self: center;
    background-color: #f1cccc;
    width: 300px;
    border: 9px solid rgba(0, 0, 0, 0.43);
    padding: 25px;
    margin: 25px;
}

.close {
    margin-left: 100%;
    color: black;
}

.input {
    margin-bottom: 5%;
}

.new-reminder {
    border-radius: 5px;
    padding: 20px;
}

.container {
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.reminder-list {
    width: 700px;
    right: 35%;
    position: absolute;
}

.details {
    margin-bottom: 15px;
}

.title-reminder {
    float: left;
    width: 107px;
}

.input-reminder {
    width: 35%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    margin-left: 95%;
}

.list-items-position {
    position: relative;
}

.btns-position {
    position: absolute;
    top: 9px;
    right: -67px;
    width: 200px;
    height: 100px;
}