<div class="container">
  <div class="reminder-list">
    <div class="list-group" ng-repeat="reminder in vm.listOfReminders">
      <div class="list-group-item list-items list-items-position">
        <span> {{reminder.Title}} , </span>
        <span> {{reminder.Description}} ,</span>
        <span> {{reminder.DueDate}} ,</span>
        <span> {{reminder.ReminderId}} </span>
        <span class="btns-position">
          <button class="btn-primary">
            <a ng-click="vm.editReminder(reminder.ReminderID)">Edit</a>
          </button>
          <button class=" btn-primary">
            <a ng-click="vm.deleteReminder(reminder.ReminderID)">Delete</a>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>


