
  <div class="reminder-list">
    <div class="list-group" ng-repeat="reminder in vm.listOfReminders">
      <div class="list-items list-items-position">
        <div>
          <span class="title-reminder">
            <label>Title:</label>
          </span>
          <span>{{reminder.Title}}</span>
        </div>
        <div>
          <span class="title-reminder">
            <label>Description:</label>
          </span>
          <span>{{reminder.Description}}</span>
        </div>
        <div>
          <span class="title-reminder">
            <label>DueDate:</label>
          </span>
          <span>{{reminder.DueDate}} </span>
        </div>
        <span class="btns-position">
          <button class="btn-primary text-style">
            <a ng-click="vm.editReminder(reminder.ReminderID)">Edit</a>
          </button>
          <button class="btn-primary text-style">
            <a ng-click="vm.deleteReminder(reminder.ReminderID)">Delete</a>
          </button>
        </span>
      </div>
    </div>
  </div>
